venv/
/.idea/covid-19-project.iml
/.idea/dictionaries/imac2017.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
